<style type="text/css" media="screen">
ul.connect li{
  list-style-type: none;
}
ul.connect li:hover i {
color: #08b;
transform: scale(1.5,1.5);
-ms-transform: scale(1.5,1.5);
-webkit-transform: scale(1.5,1.5);
-o-transform: scale(1.5,1.5);
-moz-transform: scale(1.5,1.5);
}
</style>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="hero-unit" style="height:400px;">
          <div class="span8 well">
            <div class="span2">
              <a href="https://gravatar.com/manusajith" class="thumbnail"><img src="http://www.gravatar.com/avatar/966eb8b0d931ad79a0a031b50d1f5feb.png" alt=""></a>
            </div>
            <div class="span6">
              <p><strong>Manu S Ajith</strong></p>
            <ul class="connect">
              <span class="add-on"><li><i class="icon-envelope"></i>   <a href="mailto:neo@codingarena.in?subject=Hello Manu" "Email Manu">neo@codingarena.in</a></li></span>
              <span class="add-on"><li><i class="icon-home"></i>  <a href="http://codingarena.in" title="Codingarena"> Website </a></li></span>
              <span class="add-on"><li><i class="icon-twitter"></i>  <a href="http://twitter.com/manusajith" title="Twitter"> @manusajith </a></li></span>
              <span class="add-on"><li><i class="icon-facebook"></i>  <a href="http://facebook.com/manusajith" title="Facebook"> Facebook </a></li></span>
              <span class="add-on"><li><i class="icon-linkedin"></i>  <a href="http://in.linkedin.com/in/manusajith" title="LinkedIn"> LinkedIn </a></li></span>
              <span class="add-on"><li><i class="icon-github"></i>  <a href="http://github.com/manusajith" title="Github"> Github </a></li></span>
            </ul>
            </div>
          </div>
        </div>
      </div><!--/span-->
    </div><!--/row-->
  </div>
